@media only screen and (min-width: 749px) and (max-width: 1080px) {
  
    html {
      font-size: 18px;
    }
    #menu {
      width: 60vw;
      right:0;
    }
  
    h1 {
      padding: 2rem 0rem;
    }
  
    .wrapper {
      width: 80%;
      padding: 0rem 2rem 2.5rem;
    }
  
    .wrapper-two {
      background-color: transparent;
    }

    .intro {
      margin: auto;
      margin-top: 4rem;
      font-weight: 400;
      text-align: center;
      color: white;
      max-width: 80vw;
    }

    .button-large-home {
      border: 7px double orange;
      padding: 0.7rem 3rem;
      background: #474747;
      color: white;
      font-size: 1rem;
      text-transform: uppercase;
      margin: auto;
      margin-top: 2rem;
      display: block;
    }
  
    .background-img {
      background-image: url('./images/bricks.jpg');
    }
  
    .brickworks {
      margin-top: 9rem;
      font-size: 5rem;
      color: white;
      border: 9px solid white;
    }
  
    #logo-nav {
      margin: 0.5rem;
      height: 3rem;
      padding-left: 1.5rem;
      cursor: pointer;
    }
  
    #bike-img {
      width: 65vw;
    }

    .p-centered {
      margin: auto;
      max-width: 70vw;
    }
  
    .nav-link {
      width: 60vw
    }
   
    .menu-closed > label {
      transform: translate3d(70vw, 0, 0);
    }
  
    .menu-open > label {
      transform: translate3d(0, 0, 0);
    }
  
    .single-event-img {
      padding-bottom: 3rem;
    }
  
  }
  
