@media only screen and (max-width: 1080px) {
    /*NAVBAR */  
  
    html {
      font-size: 16px;
    }
  
    .wrapper {
      width: 90%;
      padding: 0rem 0rem 2.5rem;
    }
  
    h1 {
      padding: 2rem 0rem 2rem;
    }
  
    h3 {
      padding-bottom: 0.5rem;
    }
  
    h4 {
      padding-bottom: 0.5rem;
    }
  
    .menu {
      position: absolute;
      height: 100vh;
      height: calc(var(--vh, 1vh)*100);
      width: 100vw;
      top: 3rem;
      overflow-y: scroll;
      overflow-x: hidden;
      /* overflow-y: auto; */
    }
  
    #logo-nav {
      display: none;
    }
    
    #name-nav {
      display: none;
    }
  
    #bike-img {
      width: 80vw;
    }

    .p-centered {
      max-width: 85vw;
      margin: auto;
    }
  
    /* Menu animation, sliding drawers effect(coined?) */
  
    .menu label {
      width: 100%;
      position: absolute;
      transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);  
    }
  
    .menu :nth-child(1) {
      
    }
  
    .menu :nth-child(2){
      top: calc((100vh - 3rem)/7);
      top: calc((var(--vh, 1vh)*100 - 3rem)/7);
      
      transition-delay: 0.1s
    }
  
    .menu :nth-child(3) {
      top: calc(2*(100vh - 3rem)/7);
      top: calc(2*(var(--vh, 1vh)*100 - 3rem)/7);
      transition-delay: 0.2s
    }
  
    .menu :nth-child(4){
      top: calc(3*(100vh - 3rem)/7);
      top: calc(3*(var(--vh, 1vh)*100 - 3rem)/7);
      transition-delay: 0.3s
    }
  
    .menu :nth-child(5){
      top: calc(4*(100vh - 3rem)/7);
      top: calc(4*(var(--vh, 1vh)*100 - 3rem)/7);
      transition-delay: 0.4s
    }
  
    .menu :nth-child(6){
      top: calc(5*(100vh - 3rem)/7);
      top: calc(5*(var(--vh, 1vh)*100 - 3rem)/7);
      transition-delay: 0.5s
    }
  
    .menu :nth-child(7){
      top: calc(6*(100vh - 3rem)/7);
      top: calc(6*(var(--vh, 1vh)*100 - 3rem)/7);
      transition-delay: 0.6s
    }
  
    .menu-closed > label {
      transform: translate3d(110vw, 0, 0);
    }
    
    .menu-open > label {
      transform: translate3d(0vw, 0, 0);
    }
    
    .nav-link {
      border-color: white;
      border-width: 1px 0px;
      border-style: dashed;
      font-size: 1.5em;
      color: white;
      background: black;
      width: 100%;
      height: calc((100vh - 3rem)/7);
      height: calc((var(--vh, 1vh)*100 - 3rem)/7);
      line-height: calc((100vh - 3rem)/7);
      height: calc((var(--vh, 1vh)*100 - 3rem)/7);
      vertical-align:middle;
      padding-left: 1.5rem;
      text-decoration: none;
      display: flex;
      flex-direction: column;
    }
  
    .current-page {
      color: orange;
    }
    
    /* navbar icon animation */
    
    .image {
      position: absolute;
      right: 1rem;
      /* /* height: 6vh; */
      height: var(--vh, 1vh)*6; 
      margin: 0.5rem 0rem;
      cursor: pointer;
    }
    
    .image span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition: transform 1s ease;
    }
    
    .image span:before, .image span:after {
      position: absolute;
      content: '';
    }
    
    .image span, .image span:before, .image span:after {
      width: 31px;
      height: 6px;
      background-color: #ffffff;
      display: block;
    }
    
    .image span:before {
      margin-top: -12px;
      transition: transform 1s ease;
      transform-origin: 50% 50%;
    }
    
    .image span:after {
      margin-top: 12px;
      transition: transform 1s ease;
      transform-origin: 50% 50%;
    }
    
    .image-open span {
      transform: scaleX(1.5);
      transform: scaleY(0.7);
    }
    
    .image-open span:after {
      transform: translateX(2px) rotate(-45deg);
    }
    
    .image-open span:before {
      transform: translateX(2px) rotate(45deg);
    }
  
    .home-div {
      text-align: center;
    }
  
    .brickworks {
      display: inline-block;
      margin-top: 5rem;
      padding: 1rem 1rem;
      color: black;
      border: 5px solid black;
    }
  
    .button-large-home {
      border: 7px double orange;
      padding: 0.7rem 1rem;
      background: #474747;
      color: white;
      font-size: 1rem;
      text-transform: uppercase;
      margin: auto;
      margin-top: 3rem;
      display: block;
    }
  
    .intro {
      margin: auto;
      margin-top: 4rem;
      text-align: center;
      color: black;
      max-width: 85vw;
      font-size: 1.2rem;
      font-weight: bold;
    }
  
    /* HOME PAGE */
  
    .top-ten-li {
      padding: 0.4rem 0rem;
    }
  
    /* Form */
  
    .form-box {
      max-width: 90vw;
      height: 2rem;
    }
  
    /* Single Event */
  
    .single-event {
      padding: 0rem 0rem 0.5rem 0rem;
    }
  
    .single-event-img {
      width: 65vw;
      padding-bottom: 2rem;
    }
  
  }