* {
  font-family: 'Raleway', sans-serif;
  }

/* HTML relating to every page*/

body {
  overflow-x: hidden;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

html, body {
  width: 100vw;
  max-width: 100%;
  background: white;
  color: #353535; 
}

header {
  display: flex;
  height: 3rem;
  background: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

footer {
  padding: 0.5rem 0rem;
  height: 1rem;
  position: relative;
  display: block;
  width: 100%;
  background-color: black;
  color: darkgray;
  text-align: center;
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
  color: #353535;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

h2 {
  font-size: 1.5rem;
  color: #353535;
  padding-bottom: 1rem;
}

.h2-two {
  padding-top: 1rem;
}

h3 {
  font-size: 1.25rem;
  color: #353535;
}

p {
  font-size: 1rem;
  color: #474747;
  padding-bottom: 1rem;
  line-height: 1.2em;
}

.p-centered {
  text-align: center;
}

a {
  text-decoration: none;
}

.a-links {
  display: flex;
  color: black;
  width: fit-content;
  padding: 0.3rem 1rem;
  background: #E0E4E7;
  border: 1px solid darkgray;
}

.a-links:hover, .a-links-four:hover {
  background: orange;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.a-links-two {
  margin: 0.3rem 1rem 0rem 0rem;
}

.a-links-three {
  display: flex;
}

.a-links-four {
  background: white;
  color: black;
  width: fit-content;
  padding: 0.3rem 1rem;
  border: 1px solid darkgray;
}

.wrapper {
  position: relative;
  background-color: white;
  top: 3rem;
  min-height: calc(100vh - 7rem);
  margin: auto;
  padding-bottom: 4rem;
}

/* NAV-BAR */

#logo {
  text-align: center;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
}

.button-large {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background: #474747;
  color: white;
  font-size: 1rem;
  margin: auto;
  display: block;
  margin-top: 2rem;
  /* box-shadow: 3px 4px 10px #888888;  */
}

.button-large:hover {
  cursor: pointer;
  background: orange;
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button-large-two {
  margin-top: 2rem;
}

.button-large-home:hover {
  cursor: pointer;
  color: orange;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* Events pages */

.loading-div {
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
}

.loading {
  display: inline-block;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 7px solid #6c6c6c;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6c6c6c transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mini-wrapper {
  padding: 1rem;
  border: 1px solid darkgray;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #E0E4E7;
}

time {
  padding-bottom: 0.5rem;
  display:block;
  font-size: 1rem;
  font-weight: bold;
}

/* FAQ Page */

.question {
  font-size: 1rem;
  font-weight: bold;
  color: #353535;
}

.question-two {
  padding: 1rem 0rem;
  color: #353535;
}

.faq-anchor {
  text-decoration: none;
}

/* Top Ten Page */

.top-ten-li {
  padding: 0.5rem 0rem;
  line-height: 1.2;
  color: #474747;
}

.top-ten-links {
  padding: 0.5rem 0rem;
}

/* Single Event Page */

.single-event-img {
  display: block;
  margin: 0 auto;
}

.single-event {
  display: block;
  padding: 0.4rem 0rem 0.8rem 0rem;
  font-weight: bold;
}

.individual-event-div {
  padding: 0.5rem;
  border: 1px solid darkgray;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #E0E4E7;
}

/*Projects*/

#bike-img {
  display: block;
  margin: 0 auto;
  padding-bottom: 2rem;
}

/* Form */
.validate {
  display: inline-block;
  width: 1rem;
  margin: 0.2rem 0.2rem;
}

.form-box {
  width: 21rem;
  height: 2rem;
}

.mobile-p {
  padding-bottom: 0;
  font-weight: bold;
}

.form-label {
  display: flex;
  margin: 1rem 0rem 0.5rem 0rem;
}

.choices-p {
  margin: 2rem 0rem 0rem;
  padding-bottom: 0.5rem;
}

.choices-text {
  display: flex;
  color: #353535;
  margin: 1rem 0rem;
}

.checkbox {
  margin: 0rem 0rem 0rem 1rem;
}

textarea {
  width: 21rem;
  max-width: 90vw;
}

.red-asterisk {
  color: red;
}

.form-errors {
  margin-top: 1rem;
}

.error-message {
  padding-bottom: 0.5rem;
  color: red;
}

/* Inspirations */

hr.style2 {
	border-top: 4px double orange;
}

/* Resouces */

.resource-links {
  padding: 1rem 0rem;
}

.resource-link {
  display: flex;
  flex-wrap: wrap;
}

/* ///// */

.invisible {
  display: none;
}
*:focus {
  border: 5px solid orangered;
}