* {
  font-family: 'Source Sans Pro', sans-serif; 
}

@media only screen and (max-width: 748px) {
  /*NAVBAR */  
  
  
  .menu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 4rem;
    overflow-y: auto;
    
  }

  /* Menu animation, sliding drawers effect(coined?) */
  .menu label {
    width: 100%;
    position: absolute;
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  }
  .menu :nth-child(1) {
    
  }
  .menu :nth-child(2){
    top: 15px;
    transition-delay: 0.1s
  }
  .menu :nth-child(3) {
    top: 30px;
    transition-delay: 0.2s
  }
  .menu :nth-child(4){
    top: 45px;
    transition-delay: 0.3s
  }
  .menu :nth-child(5){
    top: 60px;
    transition-delay: 0.4s
  }
  .menu :nth-child(6){
    top: 75px;
    transition-delay: 0.5s
  }
  .menu :nth-child(7){
    top: 90px;
    transition-delay: 0.6s
  }

  .menu-closed > label {
    transform: translate3d(110vw, 0, 0);
  }
  
  .menu-open > label {
    transform: translate3d(0vw, 0, 0);
  }
  
  .nav-link {
    
    font-size: 1em;
    color: white;
    background: #CC402F;
    width:100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  
  /* navbar icon animation */
  
  .image {
    position: absolute;
    right: 1rem;
    width: 6vw;
    height: 6vh;
    margin: 1rem;
    cursor: pointer;
  }
  
  .image span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition: transform 1s ease;
  }
  
  .image span:before, .image span:after {
      position: absolute;
      content: '';
  }
  
  .image span, .image span:before, .image span:after {
      width: 31px;
      height: 6px;
      background-color: #ffffff;
      display: block;
  }
  
  .image span:before {
    margin-top: -12px;
    transition: transform 1s ease;
    transform-origin: 50% 50%;
  }
  
  .image span:after {
    margin-top: 12px;
    transition: transform 1s ease;
    transform-origin: 50% 50%;
  }
  
  .image-open span {
    transform: scaleX(1.5);
    transform: scaleY(0.7);
  }
  
  .image-open span:after {
    transform: translateX(-2px) rotate(45deg);
  }
  
  .image-open span:before {
    transform: translateX(-2px) rotate(-45deg);
  }

  /* HOME PAGE */
  h1 {
    font-size: 2.5rem;
    color: grey;
    text-align: center;
    padding: 2rem 0rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-family: Helvetica,sans-serif;
    opacity: 0.6;
    vertical-align: middle;
  }

  h2 {
    font-size: 1.25rem;
    color: grey;
    padding-bottom: 1rem;
  }
  
  .button-large {
    text-align: center;
  }

}

@media only screen and (min-width: 748px) {
   font-size: 50px;

  header {

  }
   
  nav {
     display: flex;
     justify-content: space-between;
  }

  #logo {
    background: white;
    width:50%;
    margin: auto;
  }
   
  #logo-img {
     display: block;
     width: 150;
     margin: auto;  
  }
   
  #logo-nav {
     display: none;
  }
   
  #name-nav {
     display: none;
  }

}
/* HTML relating to every page*/
html, body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  
}
body {
  overflow-x: hidden;
}
header {
  height: 4rem;
  background: #CC402F;
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 1;
}
footer {
  padding: 1rem 0rem;
  height: 1rem;
  position: relative;
  top: 4rem;
  display: block;
  width: 100%;
  text-align: center;
}
p {
  padding: 0.5rem 0rem;
  line-height: 1.5em;
  font-family: Helvetica, sans-serif;
}
#container {
  height: 100vh;
 }
 #root {
   height: 100vh;
 
 }
 .wrapper {
   position: relative;
   top: 4rem;
   min-height: calc(100vh - 7rem);
   width: 80%;
   margin: auto;
 }
/* NAV-BAR */
#logo-nav {
  height: 2rem;
  padding: 1rem 0rem 1rem 1rem;
  display: inline-block;
}

#name-nav {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0rem;
  padding-top: 0.2rem;
  display: inline-block;
}

#logo {
  text-align: center;
  padding-bottom: 1rem;
}

.current-page {
  color: aquamarine;
}
/* @media only screen and (min-width: 1070px) { */
   
/* } */
