* {
  font-family: 'Raleway', sans-serif;
  }

@media only screen and (max-width: 1080px) {
  /*NAVBAR */  

  html {
    font-size: 16px;
  }

  .wrapper {
    width: 90%;
  }

  h1 {
    padding: 1rem 0rem 2rem;
  }

  h3 {
    padding-bottom: 0.5rem;
  }

  h4 {
    padding-bottom: 0.5rem;
  }

  .menu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 3rem;
    /* overflow-y: auto; */
  }

  #logo-nav {
    display: none;
  }
  
  #name-nav {
    display: none;
  }

  #bike-img {
    width: 80vw;
  }

  /* Menu animation, sliding drawers effect(coined?) */

  .menu label {
    width: 100%;
    position: absolute;
    transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);  
  }

  .menu :nth-child(1) {
    
  }

  .menu :nth-child(2){
    top: calc((100vh - 3rem)/7);
    transition-delay: 0.1s
  }

  .menu :nth-child(3) {
    top: calc(2*(100vh - 3rem)/7);
    transition-delay: 0.2s
  }

  .menu :nth-child(4){
    top: calc(3*(100vh - 3rem)/7);
    transition-delay: 0.3s
  }

  .menu :nth-child(5){
    top: calc(4*(100vh - 3rem)/7);
    transition-delay: 0.4s
  }

  .menu :nth-child(6){
    top: calc(5*(100vh - 3rem)/7);
    transition-delay: 0.5s
  }

  .menu :nth-child(7){
    top: calc(6*(100vh - 3rem)/7);
    transition-delay: 0.6s
  }

  .menu-closed > label {
    transform: translate3d(110vw, 0, 0);
  }
  
  .menu-open > label {
    transform: translate3d(0vw, 0, 0);
  }
  
  .nav-link {
    border-color: white;
    border-width: 1px 0px;
    border-style: dashed;
    font-size: 1.5em;
    color: white;
    background: black;
    width: 100%;
    height: calc((100vh - 3rem)/7);
    line-height: calc((100vh - 3rem)/7);
    vertical-align:middle;
    padding-left: 1.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  .current-page {
    color: white;
    background: linear-gradient(black, #2e2e2e)
  }
  
  /* navbar icon animation */
  
  .image {
    position: absolute;
    right: 1rem;
    height: 6vh;
    margin: 0.5rem 0rem;
    cursor: pointer;
  }
  
  .image span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    transition: transform 1s ease;
  }
  
  .image span:before, .image span:after {
    position: absolute;
    content: '';
  }
  
  .image span, .image span:before, .image span:after {
    width: 31px;
    height: 6px;
    background-color: #ffffff;
    display: block;
  }
  
  .image span:before {
    margin-top: -12px;
    transition: transform 1s ease;
    transform-origin: 50% 50%;
  }
  
  .image span:after {
    margin-top: 12px;
    transition: transform 1s ease;
    transform-origin: 50% 50%;
  }
  
  .image-open span {
    transform: scaleX(1.5);
    transform: scaleY(0.7);
  }
  
  .image-open span:after {
    transform: translateX(2px) rotate(-45deg);
  }
  
  .image-open span:before {
    transform: translateX(2px) rotate(45deg);
  }

  /* HOME PAGE */

  .top-ten-li {
    padding: 0.4rem 0rem;
  }

  /* Form */

  .form-box {
    max-width: 90vw;
    height: 2rem;
  }

  /* Single Event */

  .single-event {
    padding: 0rem 0rem 0.5rem 0rem;
  }

  .single-event-img {
    width: 65vw;
  }

}

@media only screen and (min-width: 749px) and (max-width: 1080px) {
  
  html {
    font-size: 18px;
  }

  h1 {
    padding: 2rem 0rem;
  }

  .wrapper {
    width: 80%;
  }

  #logo-nav {
    margin: 0.5rem;
    height: 3rem;
    padding-left: 1.5rem;
    cursor: pointer;
  }

  #bike-img {
    width: 80vw;
  }

  .nav-link {
    width: 60vw
  }
 
  .menu-closed > label {
    transform: translate3d(110vw, 0, 0);
  }

  .menu-open > label {
    transform: translate3d(40vw, 0, 0);
  }
}

@media only screen and (min-width: 1081px) {
  
  .wrapper {
    max-width: 65%;
  }
  
  html {
   font-size: 20px;
  }

  header {
    z-index: 1;
  }
   
  nav {
     width: 100vw;
     display: flex;
     justify-content: space-evenly;
  }

  h1 {
    padding: 3rem 0rem;
  }

  h3 {
    padding-bottom: 1rem;
  }

  h4 {
    padding-bottom: 0.5rem;
  }

 /*HOME PAGE */

  #logo {
    background: white;
    width:55vw;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
  }
   
  #logo-img {
     display: block;
     width: 50%;
     margin: auto; 
     float: left; 
  }

  #bike-img {
    width: 50vw;
  }

  .intro {
    font-size: 1.7rem;
  }
  
  #logo-wrapper {
    width: 20vw;
    position:relative;
    left:2vw;

  }

  #logo-nav {
    height: 1.5rem;
    padding: 0.7rem 0rem;
    cursor: pointer;
  }
    
  #name-nav {
    position: absolute;
    left: 0.9rem;
    top: 0rem;
    line-height: 3rem;
    padding: 0;
    color: white;
    cursor: pointer;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 3rem;
    vertical-align: center;;
    font-size: 0.8rem;
  }

  .current-page {
    color: cornflowerblue;
  }

  #menu {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 0;
  }

  #menu label {
    height: 4rem;
  }

  #logo {
    text-align: center;
    padding-bottom: 1rem;
  }

  /* Single-Events-Page */

  .single-event-img {
    width: 50vw;
  }

}

/* End of Media Query */


/* HTML relating to every page*/

html, body {
  width: 100vw;
  max-width: 100%;
  background: white;
  color: #353535; 
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  height: 3rem;
  background: black;
  width: 100%;
  position: fixed;
  top: 0;
}

footer {
  padding: 1rem 0rem;
  height: 1rem;
  position: relative;
  top: 4rem;
  display: block;
  width: 100%;
  /* background-color: black; */
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #353535;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

h2 {
  font-size: 1.5rem;
  color: #353535;
  padding-bottom: 1rem;
}

.h2-two {
  padding-top: 1rem;
}

h3 {
  font-size: 1.25rem;
  color: #353535;
}

p {
  font-size: 1rem;
  color: #474747;
  padding-bottom: 0.75rem;
  line-height: 1.2em;
}

.p-centered {
  text-align: center;
}

a {
  text-decoration: none;
}

.a-links {
  display: flex;
  width: fit-content;
  padding: 0.3rem 1rem;
  background: #E0E4E7;
}

.a-links:hover {
  background: #6c6c6c;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.a-links-two {
  margin: 0.3rem 0rem;
}

.a-links-three {
  display: flex;
}

.wrapper {
  position: relative;
  top: 4rem;
  min-height: calc(100vh - 9rem);
  margin: auto;
  padding-bottom: 1rem;
}

/* NAV-BAR */

.front {
  z-index: 1;
}

#logo {
  text-align: center;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.button-large {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  background: #474747;
  color: white;
  font-size: 1rem;
  margin: auto;
  display: block;
  /* box-shadow: 3px 4px 10px #888888;  */
}

.button-large:hover {
  background: #6c6c6c;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button-large-two {
  margin-top: 2rem;
}

/* Events pages */

.loading-div {
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
}

.loading {
  display: inline-block;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 7px solid #6c6c6c;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6c6c6c transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mini-wrapper {
  padding-bottom: 2rem;
}

time {
  padding-bottom: 0.5rem;
  display:block;
  font-size: 1rem;
}

/* FAQ Page */

.question {
  font-size: 1rem;
  font-weight: bold;
  color: #353535;
}

.question-two {
  padding: 1rem 0rem;
  color: #353535;
}

.faq-anchor {
  text-decoration: none;
}

/* Top Ten Page */

.top-ten-li {
  padding: 0.5rem 0rem;
  line-height: 1.2;
  color: #474747;
}

.top-ten-links {
  padding: 0.5rem 0rem;
}

/* Single Event Page */

.single-event-img {
  display: block;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.single-event {
  display: block;
  padding: 0.4rem 0rem 0.8rem 0rem;
}

/*Projects*/

#bike-img {
  display: block;
  margin: 0 auto;
  padding-bottom: 2rem;
}

/* Form */
.validate {
  display: inline-block;
  width: 1rem;
  margin: 0.2rem 0.2rem;
}

.form-box {
  width: 21rem;
  height: 2rem;
}

.mobile-p {
  padding-bottom: 0;
  font-weight: bold;
}

.form-label {
  display: flex;
  margin: 1rem 0rem 0.5rem 0rem;
}

.choices-p {
  margin: 2rem 0rem 0rem;
  padding-bottom: 0.5rem;
}

.choices-text {
  display: flex;
  color: #353535;
  margin: 1rem 0rem;
}

.checkbox {
  margin: 0rem 0rem 0rem 1rem;
}

textarea {
  width: 21rem;
  max-width: 90vw;
}

.red-asterisk {
  color: red;
}

.form-errors {
  margin-top: 1rem;
}

.error-message {
  padding-bottom: 0.5rem;
  color: red;
}

/* Resouces */

.resource-links {
  padding: 1rem 0rem;
}

.resource-link {
  display: flex;
  flex-direction: column;
}

/* ///// */

.invisible {
  display: none;
}